@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes pulse-green {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.7);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(37, 211, 102, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 211, 102, 0);
  }
}
.whatsapp-float {
  animation: pulse-green 2s infinite;
}
